* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    border: solid lightcoral 1vh;
    border-radius: 1.5vh;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 92vh;
}



#numberInput{
    padding: 2vh 3vh;
    font-size: 3vh;
    border: solid lightsalmon 0.5vh;
    border-radius: 1.5vh;
    outline: none;
    transition: 0.5s;
}

#numberInput:focus{
    border: solid rgb(248, 102, 18) 0.5vh;
}

@media(max-width: 400px){
    .title{
        font-size: 3.5vh;
    }

    #numberInput{
        font-size: 2.5vh;
    }
}